div {
    position: relative;
    display: flex;
    flex-direction:row;
    background-color:rgb(113, 86, 52);
    vertical-align: bottom;
    flex-direction: row;
    justify-content: left;

}

p {
    margin-right: 15pt;
    padding: 10pt 10pt;
}
